/*
|--------------------------------------------------------------------------
| Packages
|--------------------------------------------------------------------------
*/
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/
@import "resources/themes/phpugly/assets/sass/_basic.scss";

body {
  margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.padding {
  padding-bottom: 150px;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image-bg-fluid-height {
  background: url('/img/php-screenshot-blur.png') no-repeat center center scroll;
  padding: 100px 0;
}

.image-bg-fixed-height {
  background: url('/img/php-screenshot-blur.png') no-repeat center center scroll;
  height: 450px;
}

.img-center {
  margin: 0 auto;
}

section {
  padding: 75px 0;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

footer {
  margin: 50px 0;
}

@media(max-width: 768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section-heading {
    font-size: 2em;
  }
}

.navbar-default {
  background-color: #1a1f21;
  border-color: #1a1f21;
}

.homepage {
  background-image: unset;
}

.archives {
  -webkit-column-width: 20em;
  -webkit-column-gap: 2em;
  -webkit-column-rule: 1px solid #eee;
  -webkit-column-count: 4;
  -moz-column-width: 20em;
  -moz-column-gap: 2em;
  -moz-column-rule: 1px solid #eee;
  -moz-column-count: 4;
  -ms-column-width: 20em;
  -ms-column-gap: 2em;
  -ms-column-rule: 1px solid #eee;
  -ms-column-count: 4;
  column-width: 20em;
  column-gap: 2em;
  column-rule: 1px solid #eee;
  column-count: 4;
}